@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * END --- SETUP TAILWINDCSS EDIT
 */

 .error-message {
  transition: opacity 1.5s ease-in-out; /* Smooth transition for the opacity */
  opacity: 1; /* Start fully visible */
}

.error-message.hide {
  opacity: 0; /* Fade to invisible */
  visibility: hidden;
  height: 0;
  padding: 0; /* Prevents taking up space when not visible */
}
